In [1]:
import pandas as pd

df1 = pd.read_csv('서울특별시_공공자전거 일별 대여건수_(2018_2019.03).csv', encoding='cp949', thousands = ',')
df2 = pd.read_csv('서울특별시 공공자전거 일별 대여건수(2019.4_5).csv', thousands = ',')
df3 = pd.read_csv('서울특별시 공공자전거 일별 대여건수_20190601_20191130.csv', thousands = ',')
df4 = pd.read_csv('서울특별시 공공자전거 일별 대여건수_2019.12.01_2020.05.31.csv', thousands = ',')
df5 = pd.read_csv('서울특별시 공공자전거 일별 대여건수_2020.06.01_2020.06.30.csv', thousands = ',')
df6 = pd.read_csv('서울특별시 공공자전거 일별 대여건수_2020.07.01_2021.01.31.csv', encoding='cp949', thousands = ',')
df7 = pd.read_csv('서울특별시 공공자전거 일별 대여건수_21.02.01_21.06.30.csv', encoding='cp949', thousands = ',')
df8 = pd.read_csv('서울특별시 공공자전거 일별 대여건수_21.07-21.12.csv', encoding='cp949', thousands = ',')
df3

           대여일시   대여건수
0    2019-06-01  79878
1    2019-06-02  77091
2    2019-06-03  82911
3    2019-06-04  83576
4    2019-06-05  81515
..          ...    ...
177  2019-11-26  52464
178  2019-11-27  46248
179  2019-11-28  46983
180  2019-11-29  44689
181  2019-11-30  38366

[182 rows x 2 columns]

In [2]:
print(df3[df3['대여일시'] == '2019-09-06'])
print(df3[df3['대여일시'] == '2019-09-08'])

          대여일시   대여건수
97  2019-09-06  16631
          대여일시   대여건수
98  2019-09-08  52055

In [3]:
typhoon = pd.DataFrame([['2019-09-07',34343]],columns=df3.columns)
df3 = pd.concat([df3.iloc[:98], typhoon, df3.iloc[98:]], ignore_index = True)
print(df3[97:100])

          대여일시   대여건수
97  2019-09-06  16631
98  2019-09-07  34343
99  2019-09-08  52055

In [4]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8],ignore_index=True)
df = df.drop(['대여일자','대여일시'],axis=1)
df.reset_index(inplace=True)

In [5]:
df

      index   대여건수
0         0   4950
1         1   7136
2         2   7156
3         3   7102
4         4   7705
...     ...    ...
1456   1456  42521
1457   1457  51268
1458   1458  52017
1459   1459  48993
1460   1460  40604

[1461 rows x 2 columns]

In [6]:
data = df.drop('대여건수', axis=1).values
target = df['대여건수'].values

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=1)

In [8]:
from xgboost import XGBRegressor
xgb = XGBRegressor()
xgb.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
             grow_policy='depthwise', importance_type=None,
             interaction_constraints='', learning_rate=0.300000012, max_bin=256,
             max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
             max_depth=6, max_leaves=0, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [10]:
print(xgb.score(X_train,y_train))
print(xgb.score(X_test,y_test))

0.9783627836950659
0.7461398381595574